/* цвет основного текста #757575 */
/* вторичный цвет текста  #212121;*/
/* белый #FFFFFF  */
/* акцент #2196F3;*/
/* команда цвет фона,кнопки неактивные: #F5F4FA; */
/*основной фон (чем занимаемся):#E5E5E5*/
/*фон шапки: #FFFFFF; */
/*фон футера и героя: #2F303A;*/

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-background-color: #e5e5e5;
  --secondary-background-color: #f5f4fa;
  --navigationfooter-background-color: #2f303a;
  --header-margin-hmargin: 50px;
  --main-margin: 30px;
  --section-padding-top-bottom-inside-margin: 94px;
  --margin-bottom-list: 10px;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.logo {
  color: #000000;
  font-family: Raleway, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-part {
  color: var(--accent-color);
}
.logo .white {
  color: var(--primary-white-color);
}

/* Главная навигация */
.site-nav {
  background-color: var(--primary-white-color);
  display: flex;
  /* display: flex; */
  /* flex-direction: row;
  justify-content: start;
  align-items: center; */
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-menu {
  display: flex;
  align-items: center;
}
.header-logo {
  display: flex;
  margin-left: 215px;
  margin-right: 93px;
}

.site-nav-item {
  display: flex;
}
.site-nav-item:not(:last-child) {
  margin-right: var(--header-margin-hmargin);
}

.site-nav .link {
  color: var(--title-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  /* display: block; */
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav .link:hover,
.site-nav .site-nav:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

.contacts {
  display: flex;
  margin-left: -50px;
}

.contacts .contact {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/* .contacts-item .contact {
  margin-right: var(--header-margin-hmargin);
} */
.mail {
  margin-right: var(--header-margin-hmargin);
}
.telephone {
  margin-right: 0;
}
.contacts .contact:hover,
.contacts .contact:focus {
  color: var(--accent-color);
}

/* Герой */
.hero {
  background-color: var(--navigationfooter-background-color);
  padding-bottom: 200px;
}
.hero-title {
  color: var(--primary-white-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-top: 200px;
  margin-bottom: var(--main-margin);
}

.order-btn {
  display: inline-block;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 4px;
  padding: 10px 32px;
  border: transparent;
  min-width: 200px;
}

.order-btn:hover,
.order-btn:focus {
  background-color: #188ce8;
}
/* Преимущества */
.features-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}
.features-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: var(--main-margin);
}
.features-item-title {
  color: var(--title-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: var(--section-padding-top-bottom-inside-margin);
  margin-bottom: var(--margin-bottom-list);
}
.features-item-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-bottom: var(--section-padding-top-bottom-inside-margin);
}
/* Чем занимаемся */
.activity-title {
  color: var(--title-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: var(--header-margin-hmargin);
}
.activity-list {
  display: flex;
  margin-left: -30px;
}
.activity-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: var(--main-margin);
  margin-bottom: var(--section-padding-top-bottom-inside-margin);
}
/* Наша команда */
.team {
  background-color: var(--secondary-background-color);
  padding-top: var(--section-padding-top-bottom-inside-margin);
}

.team-title {
  color: var(--title-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: var(--header-margin-hmargin);
}

.team-list {
  display: flex;
  margin-left: -30px;
}

.team-item {
  background-color: var(--primary-white-color);
  display: inline-block;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc(100% / 4 - 30px);
  margin-left: var(--main-margin);
  margin-bottom: var(--section-padding-top-bottom-inside-margin);
}
.team-member {
  color: var(--title-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: var(--main-margin);
  margin-bottom: var(--margin-bottom-list);
}
.position {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: var(--main-margin);
}
.page-footer {
  background-color: var(--navigationfooter-background-color);
  padding-top: 60px;
}
/* Подвал */
.address-list .link {
  color: var(--primary-white-color);
}
.logofooter {
  margin-bottom: 20px;
}
.address-list {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-bottom: 60px;
}
.address-item {
  margin-bottom: 9px;
}
.address-item .contactinf {
  color: rgba(255, 255, 255, 0.6);
}

/* Portfolio Page */
/* Кнопки фильтра */
.filter-buttons {
  display: flex;
  justify-content: center;
}
.selection-btn {
  background-color: var(--secondary-background-color);
  color: var(--title-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
  display: inline-block;
  min-width: 73px;
  text-align: center;
  border: transparent;
  margin-top: var(--section-padding-top-bottom-inside-margin);
  margin-bottom: var(--header-margin-hmargin);
  margin-right: 8px;
}

.selection-btn:hover,
.selection-btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
.filter-buttons .current {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* Наши проекты*/
.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  padding-bottom: var(--section-padding-top-bottom-inside-margin);
}
.projects-item {
  border: 1px solid #eeeeee;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: var(--main-margin);
  margin-top: var(--main-margin);
}
.project-item-title {
  color: var(--title-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 20px;
  margin-left: 24px;
}
.project-item-text {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-top: 4px;
  margin-bottom: 20px;
  margin-left: 24px;
}
/* .projects-list {
  margin-right: var(--main-margin);
  padding-bottom: var(--section-padding-top-bottom-inside-margin);
} */
